<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field", id="new_recipe_name">
    <h3>Recipe Name</h3>
    <%= form.text_field :name %>
  </div>

  <div class="field", id="new_recipe_ingredients">
    <h3>Ingredients</h3>
    <input type="text", name="ingredients[]">
  </div>

  <div class="field", id="new_recipe_directions">
    <h3>Directions</h3>
    <input type="text" name="directions[]">
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
